
<div class="menu menu-top">
  {% url 'home' as home %}
  {% if home > '' %}
    {% if home == url_here %}
      <div class="menu-item menu-here">
        Home
      </div>
    {% else %}
      <div class="menu-item">
        <a href="{{ home }}">Home</a>
      </div>
    {% endif %}
  {% endif %}
  {% comment %}
  {% if perms.libtekticket.view_ticket %}
    {% if 'libtekticket' in request.resolver_match.app_names %}
      <div class="menu-item menu-here">
        Tickets
      </div>
    {% else %}
      <div class="menu-item">
        <a href="{{ libtekticket_url }}">Tickets</a>
      </div>
    {% endif %}
  {% endif %}
  {% endcomment %}
  {% if perms.libtekin.view_item %}
    {% if 'libtekin' in request.resolver_match.app_names %}
      <div class="menu-item menu-here">
        Inventory
      </div>
    {% else %}
      <div class="menu-item">
        <a href="{% url 'libtekin:item-list' %}">Inventory</a>
      </div>
    {% endif %}
  {% endif %}
  {% if user.is_staff %}
    <div class='menu-item'>
      <a href="{% url 'admin:app_list' 'libtekin' %}..">
        Admin
      </a>
    </div>
  {% endif %}
  {% if user.username %}
    {% url 'profile' as profile %}
    <div class="menu-item">
      {% if profile > '' %}
        <a href="{{ profile }}">{{ user }}</a>
      {% else %}
        {{ user.username }}
      {% endif %}
      <a href="{% url 'logout' %}">/ Logout</a>
    </div>
  {% else %}
    <div class="menu-item"><a href="{% url 'login' %}">Login</a></div>
  {% endif %}
</div>
